@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

      *,
      *::before,
      *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "poppins", "sans-serif";
      }

      main {
        height: 100vh;
        /* width: 100%; */
        overflow-x: hidden;
        perspective: 10px;
      }

      .container {
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        z-index: -1;
      }

      .container img {
        position: absolute;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        z-index: -1;
      }

      #background {
        transform: translateZ(-39px) scale(5);
      }

      #foreground {
        transform: translateZ(-10px) scale(1.5);
        object-fit: cover;
        -webkit-mask-image: linear-gradient(to bottom, transparent, black 50%, black 50%, transparent); /* WebKit syntax for mask-image */
        mask-image: linear-gradient(to bottom, transparent, black 50%, black 50%, transparent);
    
      }

      .container h1 {
       
        position: absolute;
        top: 3rem;
        color: #9b1d21;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        font-size: 8rem;
        font-weight: 700;
        /* text-shadow: 0 0 2px black; */
      }

      section {
        background: rgba(0, 0, 0, 0.654);
        color: #ea2228;
        padding: 5rem 0px;
      }

      section h2 {
        font-size: 5rem;
        padding: 0 10rem;
      }

      .text {
        
        font-size: 1.5rem;
        padding: 0 10rem;
        margin: 5rem 0;
      }

      .bg1 {
        background-image: url(./img/1.jpg);
      }

      .bg2 {
        background-image: url(./img/2.jpg);
      }

      

      .box {
        height: 600px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
      }

      .box h4 {
        font-size: 3.5rem;
        color:  rgba(0, 0, 0, 0.654);
        font-weight: 600;
        text-transform: uppercase;
        background-color: #ea2228;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 20px;
      }

      
*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

#navbar{
  /* font-family: 'Baloo Bhai 2', cursive; */
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  /* background-color: black; */
  

  background: rgb(8, 7, 16);
}

#navbar::before{
 content: "";
  position: absolute;
  height: 90%;
  width: 100%;
  /* background-color: black; */
  z-index: -1;
  opacity: 0.3;
  top: 0;
  left: 0;
}


#logo{
  margin: 1px 7px;

}

#logo img{
  height: 52px;
  width: 233px;
  margin: 10px 30px 10px 20px;
}

#navbar ul{
  display: flex;
}
#navbar ul li{
  list-style: none;
  font-size: 19px;
}
#navbar ul li a{
  color: white;
  /* color: rgb(218, 215, 215); */

  display: block;
  border-radius: 20px;
  padding: 2px 13px;
  text-decoration: none;
  transition: background-color, color;
  transition-duration: 1000ms;

}

#navbar ul li a:hover{
  color: #c43e01;
}


footer {
  min-width: 800px;
  padding: 40px;
  background-color: black;
}

.footer-col:not(:last-child) {
  margin-right: 5rem;
}

footer h3 {
  margin: 0;
  color: #e8222a;
}

footer p {
  margin-top: 5px;
  /* color: #64748B; */
  color: rgb(228, 222, 222);
  font-size: 0.8rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  color: rgb(228, 222, 222);
  width: 5rem;
  height: 4px;
  /* background-color: #CBD5E1; */
  margin: 25px 0 0;
}
footer {
  display: flex;
}

.footer-col:nth-child(2) {
  margin-left: auto;
}

img{
  width:180px;
  height: 50px;
}
a{
  text-decoration: none;
  color: rgb(228, 222, 222);
}